---
layout: default
title: In Progress
navbar_title: In Progress
body_attr: >-
  data-spy="scroll" data-offset="100"
---

{% assign sorted_pros = site.projects | sort: "title" %}

<!-- Page Heading -->
<div class="row mb-3">
  <div class="col-12">
     <h2 class="pt-4">Work in Progress</h2>
  </div>
</div>

<div class="row">
  <div class="col-12 d-none d-lg-block">
    <div class="my-0 p-0 bg-white shadow-sm rounded-xl">
      {% for item in sorted_pros %}
        {% include widgets/project_item.html item=item hide_bottom_border=forloop.last first=forloop.first last=forloop.last %}
      {% endfor %}
    </div>
  </div>
</div>
